body{
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    
    
}
html{
    height: 100%;
    width: 100%;
}


div{
    height: 300px;
    width: 300px;
    margin: 0;
    box-sizing: border-box;
    background: radial gradient(
        
        white,
        white 25%,
        red 25%,
        red 50%,
        white 50%,
        white 75%,
        red 75%,
        red
    );
}